<section class="contenedor-registro" id="contenedor-registro">
    <div class="registro-contenido">
        <div class="registro-contenido-1">
            <h1>Registro</h1>
            <p>Registrate aqui</p>
        </div>
        <form class="registro-contenido-2" id="myForm" onsubmit="return validateForm()">
            <h1>Formulario de registro</h1>
            <div class="registro-contenido-2-1">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="registro-contenido-2-1">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="registro-contenido-2-1">
                <label for="edad">Edad:</label>
                <input type="text" id="edad" name="edad" required>
            </div>
            <div class="registro-contenido-2-1">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="registro-contenido-2-1">
                <label for="password_repeat">Confirmar contraseña:</label>
                <input type="password" id="password_repeat" name="password_repeat" required>
            </div>
            <div class="registro-contenido-2-2">
                <input type="submit" value="Enviar">
            </div>
        </form>
        <div class="registro-contenido-3">
            <img src="../../../assets/image/img-10.png" alt="" width="100%">
        </div>
    </div>
</section>