<footer class="footer" id="contenedor-footer">
    <div class="container">
        <div id="row">
            <div class="footer-col">
                <h4>PROYECTO</h4>
                <ul>
                    <li><a href="#contenedor-hogar">Hogar</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>NOSOTROS</h4>
                <ul>
                    <li><a href="#contenedor-hogar">Vision</a></li>
                    <li><a href="#contenedor-hogar">Mision</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SERVICIO</h4>
                <ul>
                    <li><a href="#contenedor-hogar">Ver servicios</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SIGUENOS</h4>
                <div class="social-links">
                    <a href="#contenedor-hogar"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#contenedor-hogar"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#contenedor-hogar"><i class="fa-brands fa-discord"></i></a>
                    <a href="#contenedor-hogar"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>