.container {
    max-width: 1170px;
    margin: auto;
}

#row::before {
    content: "";
    position: absolute;
    background-color: var(--color-primario-claro);
    height: 3px;
    box-sizing: border-box;
    width: 100%;
    top: -20px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

ul {
    list-style: none;
}

.footer {
    background: linear-gradient(#000000, #000000, #cfa54a);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--color-blanco);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-primario-claro);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: var(--color-secundario-claro);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--color-primario);
    padding-left: 8px;
}

.footer-col .social-links a i {
    margin: 6px;
    color: var(--color-secundario);
    border-radius: 26px;
    border: solid 2px var(--color-secundario);
    font-size: 36px;
    padding: 6px;
    transition: 0.3s;
}

.footer-col .social-links a i:hover {
    color: var(--color-primario-claro);
    border-radius: 26px;
    border: solid 2px var(--color-primario-claro);
    font-size: 36px;
    padding: 6px;
    transition: 0.3s;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}