<section class="contenedor-nosotros" id="contenedor-nosotros">
    <div class="nosotros-contenido">
      <div class="nosotros-contenido-1">
        <h1>Nosotros</h1>
        <p>Sirviendo desde el 2024</p>
      </div>
      <div class="nosotros-contenido-2">
        <h1>Nuestra historia</h1>
        <p>
          Somos una de las organizaciones que se preocupan sobre el cuidado del planeta 
         y sobre como devemos de conocer a fondo sus cualidades. Emos pasado por mucho
         tiempo estudiando la rutina de las personas para poder desarrollar lo que es
         "VIDA VERDE".
        </p>
      </div>
      <div class="nosotros-contenido-3">
        <img src="./../../../assets/image/img-5.png" alt="" width="100%" height="100%" />
      </div>
      <div class="nosotros-contenido-4">
        <h1>Nuestra Vision</h1>
        <p>
          Buscamos mejorar lo que es el cuidado de nuetro planeta llevando a cabo nuestras
        ideas y proyectos para que "VIDA VERDE" sea mas conocida entre muchas personas. 
        Esto para que aprendan a tener una mejor calidad de vida.
        </p>
      </div>

      <div class="nosotros-contenido-5">
        <h1>Unete a nosotros</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla numquam officia cupiditate similique deleniti, natus expedita? Ipsum voluptate molestias non consequuntur, possimus inventore esse soluta et quisquam, recusandae fugiat delectus?
        </p>
      </div>
    </div>
  </section>