<header class="contenedor-hogar" id="contenedor-hogar">
    <nav class="hogar-navegacion">
        <a href="#" class="hogar-navegacion-1">VERDE VIDA</a>
        <div class="hogar-navegacion-2">
            <a id="activo" href="#">Hogar</a>
            <a href="#contenedor-nosotros">Nosotros</a>
            <a href="#contenedor-servicios">Servicio</a>
            <a href="#contenedor-registro">Registro</a>
        </div>
    </nav>

    <div class="hogar-contenido">
        <div class="hogar-contenido-1">
            <h1>Conoce Mas Sobre El Planeta</h1>
            <p>
                Desarrolla tus conocimientos y conoce mas sobre el medio ambiente.
            </p>
        </div>
        <div class="hogar-contenido-2">
            <a href="#" class="hogar-contenido-2-1">Ver</a>
            <a href="#" class="hogar-contenido-2-1">Registro</a>
        </div>
    </div>

    <div class="hogar-footer">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#"><i class="fa-brands fa-discord"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
</header>